<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina Principală - PetShop</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Corect pentru CSS -->
</head>
<body>
<!-- Meniul de navigare -->
<header>
    <div class="logo">
        <h1>PetShop</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Pagina Principală</a></li>
            <li><a href="/produse">Vezi Produse</a></li>
            <li><a href="/comenzi">Vezi Comenzi</a></li> <!-- Link către Comenzi -->
            <li><a href="/comenzi/statistici">Statistici</a></li> <!-- Link către Statistici -->
        </ul>
    </nav>
</header>

<!-- Conținutul Paginii Home -->
<div class="home-container">
    <h2>Bine ai venit </h2>
    <p>Pagina pentru gestionarea produselor si comenzilor.</p>
</div>

</body>
</html>
